
* {
    box-sizing: border-box;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ff0000;
}

.col {
    padding: 5px;
    border: 1px solid #888;
}

.first-col {
    flex: 0 0 auto;
    width: 250px;
}

.second-col {
    flex: 1;
    margin-left: 10px;

}

.third-col {
    flex: 0 0 auto;
    width: 250px;
    margin-left: 10px;
}