* {
    box-sizing: border-box;
}

html {
    height: 100%;
    
}

body {
    margin: 0;
    height: 100%;
    
}

p {
    margin: 0;
    color: #888;
}

.clear-fix {
    clear: both;
}

.list-unstyled {
    padding-left:0;
    list-style:none;
}

.container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    
}





.nav-icon {
    position: relative;
    float: left;
    width: 100px;
    height: 100%;
    min-height: 850px;
    background-color: #1d2531;
    text-align: center;
}

.nav-icon img {
    padding-top: 20px;
}

.nav-icon .footer-icon {
    position: absolute;
    bottom: 0;
    width: 100px;
    margin: 0 auto 20px;
}

.footer-icon img:first-child {
    margin-right: 18px;
}

.nav-menus {
    position: relative;
    float: left;
    width: 250px;
    height: 100%;
    min-height: 850px;
    
    padding-left: 30px;
    padding-right: 30px;
    background-color: #222c3c;
    color: #aaa;
}

.nav-menu {
    margin: 0 auto;
    padding-top: 25px;
    padding-bottom: 25px;

}

.nav-menu:nth-child(n+2) {
    border-top: 1px solid #999;
}

.nav-menu .menu-caption {
    float: left;
    color: #666;
}

.nav-menu img {
    float: right;
}

.nav-menu .active {
    color: #fff;
}

.nav-menu ul li {
    margin-top: 20px;
}

.nav-menu ul li .badge-number {
    float: right;
    padding: 2px 8px;
    background-color: #2ea1f7;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
}

.nav-menu ul li .badge-alert {
    float: right;
}

.monthly-goals {
    position: absolute;
    bottom: 0;
    width: 190px;
    margin: 0 auto 20px;
    padding-bottom: 10px;
    border-bottom: 5px solid #666;
    
}

.monthly-goals p {
    color: #fff;
}

.monthly-goals .goals-number {
    float: right;
}

.messages {
    float: right;
    width: calc(100% - 350px);
    margin-bottom: 5px;
    border-bottom: 1px solid #aaa;
}


.top-row .title {
    float: left;
    margin: 30px;
    font-size: 32px;
    color: #000;
}

.top-row .avatar {
    float: right;
    width: 205px;
    margin: 15px 20px 20px 0;
}

.avatar-img {
    position: relative;
    float: left;
    margin-right: 10px;
}

.avatar-img .avatar-status {
    position: absolute;
    right: 4px;
    bottom: 8px;
}

.avatar .name {

    color: #2399f1;
}

.avatar .role {
    margin-top: 5px;

    color: #aaa;
}

.avatar .dropdown-icon {
    float: right;
    
}


.left-col {
    float: left;
    width: 400px;
    border-top: 1px solid #aaa;
    border-right: 1px solid #aaa;
    
}

.left-col .search-bar input {
    width: 340px;
    height: 35px;
    margin: 10px 30px;
    padding-left: 15px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background-image: url("../images/search-icon.png");
    background-repeat: no-repeat;
    background-position: 310px 10px;
    color: #999;
    font-weight: bold;
}

.left-message {
    padding: 15px 20px 25px 30px;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
}



.info .avatar {
    float: left;
}

.info .mid-col {
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.mid-col .name {
    font-weight: bold;
    color: #333;
}

.left-col .active-message {
    position: relative;
    border-left: 3px solid #2399f1;
    padding-left: 27px;
    
}

.active-message .text {
    margin-right: 20px;
}
.active-message .badge-number {
    position: absolute;
    top: 80px;
    right: 20px;
    padding: 2px 8px;
    background-color: #2ea1f7;
    border-radius: 15px;
    color: #fff;
    font-size: 18px;
}

.active-message .mid-col .name {
    color: #2399f1;
}

.info .distance {
    float: right;
}



.right-col {
    float: left;
    width: calc(100% - 400px);
    border-top: 1px solid #aaa;
}

.right-col .nav-panel {
    overflow: auto;
    border-bottom: 1px solid #aaa;
}

.right-col .nav-panel .name {
    float: left;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 30px;
    font-size: 24px;
    color: #333;
}

.nav-buttons {
    float: right;
    margin-top: 18px;
    margin-right: 20px;
    margin-bottom: 22px;
}

.nav-3buttons {
    float: left;
    background-image: url("../images/Base-3buttons.png");
    background-repeat: no-repeat;
}

.nav-3buttons .button {
    margin: 8px 9px;
}

.nav-buttons .page-no {
    float: left;
    margin: 7px 15px 7px 50px;
    font-weight: bold;
}

.nav-2buttons {
    float: right;
    background-image: url("../images/Base-2buttons.png");
    background-repeat: no-repeat;
}

.nav-2buttons .button {
    margin: 10px 15px;
}



.right-message {
    padding: 25px 50px 10px 30px;
    overflow: hidden;
}

.right-message .avatar {
    float: left;
 
}

.right-message .name {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.right-message .time {
    color: #999;
}

.right-message .message {
    float: right;
    width: calc(100% - 46px);
    padding-left: 20px;
}

.message .photo {
    float: left;
    position: relative;
    margin-top: 15px;
    margin-right: 15px;
}

.photo .open-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 156px;
    height: 100px;
    background-image: url("../images/photo-mask.png");
    opacity: 0.65;
    padding-top: 25px;
    padding-left: 55px;
    display: none;
}

.photo:hover .open-photo {
    display: block;
}


.message .open-picture {
    position: relative;
}

.message .open-picture img {
    margin: 25px 55px;
}

.seperator:before {
    display: inline-block;
    position: relative;
    top: -3px;
    left: 0;
    content: "";
    width: 40%;
    height: 0px;
    margin-right: 20px;
    border-top: 1px solid #aaa;    
}

.seperator:after {
    display: inline-block;
    position: relative;
    top: -3px;
    left: 20px;
    content: "";
    width: 40%;
    height: 0px;
    border-top: 1px solid #aaa;    
}

.seperator-active {
    color: #2399f1;
}

.seperator-active:before {
    display: inline-block;
    position: relative;
    top: -3px;
    left: 0;
    content: "";
    width: 40%;
    height: 0px;
    margin-right: 20px;
    border-top: 1px solid #2399f1;    
}

.seperator-active:after {
    display: inline-block;
    position: relative;
    top: -3px;
    left: 20px;
    content: "";
    width: 40%;
    height: 0px;
    border-top: 1px solid #2399f1;    
}










.reply-box {
    padding: 20px 30px;
    
}

.reply-box img {
    float: left;
    padding: 20px;
    border: 1px solid #aaa;
    background-color: #f3f5f8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.reply-box input {
    
    width: calc(100% - 56px);
    height: 56px;
    padding: 0 0 0 20px;
    border: 1px solid #aaa;
    border-left: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}